img {
  max-height: 800px;
}

.expand {
	display: inline-block;
	position: relative;
}

.expand:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  opacity: 0.3;
  transform: scale(1.1);
  transition: 0.5s;
}

.expand:hover .middle {
  opacity: 1;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.img-text {
	font-size: 20px;
}

.pointer {cursor: pointer;}
